html, body {
    height: 100%;
    color: #ddd;
    background-color: #303030;
    
}
#page{
    height: 100%;
    
    padding: 0px;
    padding-bottom: 5%;
}
.underNavTop{
    min-height: 100%;
    //padding-top: 8%;
}
header{
    min-height: 10%;
    max-height: 24%;
    background-color: #202020;
    border: 1px solid #ddd;
    //text-align: center;
}
section{
    overflow: auto;
    margin-top: 5%;
    max-height: 75%;
}
nav{
    background-color: #202020;
    height: 86%;
    border-radius: 10px;
    margin-top: 7%;
}
#TitrePrincipal{
    float: right;
}
.form-inline{
    float: left;
    margin: 1%;
}
li{ 
    list-style-type: none;
}

.form-section{
    margin: 0 auto;
}

#TitrePrincipal a {
    text-decoration:none;
}

.ListeVideos {
    margin-top: 5px;
    //height: 60%;
    width: 100%;
    
}

.infosVideo {
    height : 200px;
}


.miniature {
    float: left;
}
div .containerCenter{
    height: 100%;
}

.containerVideos{
    height: 100%;
}
.titreVideo{
    height: 9%;
    text-align: center;
}
.video{
    width: 100%;
    padding-top: 10%;
    height: 30%;
    padding-left: 5%;
}
.video_section{
    float: left;
    height: 60%;
    width: 50%;
}
.video_section_right{
    padding-left: 5%;
    height: 60%;
    width: 50%;
}
section .containerCenter{
    margin-top: 0%;
}