html, body {
    height: 100%;
    color: #ddd;
    background-color: #303030;
    
}
#page{
    height: 100%;
    
    padding: 0px;
}
.underNavTop{
    min-height: 100%;
    padding-top: 8%;
}
header{
    min-height: 10%;
    background-color: #202020;
    border: 1px solid #ddd;
    //text-align: center;
}
section{
    overflow: auto;
}
nav{
    background-color: #202020;
    height: 86%;
    border-radius: 10px;
    margin-top: 7%;
}
#TitrePrincipal{
    float: right;
}
.form-inline{
    float: left;
    margin: 1%;
}
li{ 
    list-style-type: none;
}

.form-section{
    margin: 0 auto;
}

#TitrePrincipal a {
    text-decoration:none;
}

.ListeVideos {
    margin-top: 5px;
    //background-color: purple;
    height: 60%;
}


.miniature {
    float: left;
}
div .containerCenter{
    height: 100%;
}

.containerVideos{
    height: 100%;
}
.titreVideo{
    height: 9%;
    text-align: center;
}
.video{
    padding-top: 10%;
    height: 30%;
    padding-left: 5%;
}
.video_section{
    float: left;
}
.video_section_right{
    padding-left: 5%;
}